@model PPPK_Web.vozac

@{
    ViewBag.Title = "DodajVozaca";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Novi vozac</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Ime</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Prezime</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.prezime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prezime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Broj mobitela</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.broj_mobitela, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.broj_mobitela, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Broj vozacke</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.broj_vozacke, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.broj_vozacke, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <div onclick="window.location.href= '@Url.Action("Index", "Vozaci")'" class="btn btn-danger">Nazad na listu vozaca</div>
</div>
