@model PPPK_Web.Models.VozilaVIEW

@{
    ViewBag.Title = "Vozila";
}

<style>
    .center {
        margin: auto;
        padding-top: 5%;
        text-align: center;
    }

    ul {
        list-style: none
    }

    li {
        margin-bottom: 2%;
    }

    .vozilo_container {
        border: 3px lightblue solid;
        padding: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .vozilo_item {
        padding: 1%;
    }
</style>
<div class="center">
    <h2>Pregled Vozila</h2>
    <ul>
        @for (int i = 0; i < Model.vozila_tipovi.Count; ++i)
        {
            <li>
                <div class="vozilo_container">
                    <div class="row">
                        <div class="col-10">
                            <div class="row">
                                <div class="col vozilo_item">
                                    Marka/Tip: @Model.vozila_tipovi[i].Vozilo.marka / @Model.vozila_tipovi[i].Tip_vozila.tip
                                </div>
                                <div class="col vozilo_item">
                                    Godina proizvodnje: @Model.vozila_tipovi[i].Vozilo.godina_proizvodnje
                                </div>
                                <div class="w-100"></div>
                                <div class="col vozilo_item">
                                    Pocetni km: @Model.vozila_tipovi[i].Vozilo.pocetni_km
                                </div>
                                <div class="col vozilo_item">
                                    Trenutni km: @Model.vozila_tipovi[i].Vozilo.trenutni_km
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-center align-self-center">
                            <div onclick="window.location.href=
                                     '@Url.Action("Vozilo", "Vozila", new { id = Model.vozila_tipovi[i].Vozilo.id })'"
                                 class="btn btn-success">
                                Uredi
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
        <div onclick="window.location.href= '@Url.Action("DodajVozilo", "Vozila")'" class="btn btn-primary">Dodaj novo vozilo</div>
    </ul>
</div>